
.repos {
	width: 600px;
	margin: 50px auto 10px;
}
.repos > div {
	border-bottom: 1px solid #aaa;
}

.repos .open,
.repos .closed {
	display: inline-block;
	padding: 0 10px;
	background: #A00;
	color: white;
	border-radius: 7px;
	font-size: 13px;
	line-height: 26px;
	vertical-align: middle;

}
.repos .open {
	background: #393;
}

.repos > div > div {
	padding-left: 40px;
}


#loading {
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}
#loading > div {
	margin: 100px auto;
	width: 100px;
}

.stacks {
	background: #367;
	height: 100%;
}
.stack {
	background: #e3e3e3;
	float: left;
	width: 20%;
	display: inline-block;
	border: 1px solid #999;
	border-radius: 5px;
	margin: 52px 5px 0 11px;
	padding: 5px;
	box-shadow: 3px 3px 7px black;
	color: black;
	min-width: 200px;
	max-width: 200px;
}
.stack h2 {
	text-shadow: 1px 1px 1px white;	
	color: black;
	font-size: 20px;
}
.stack h2::before {
	content: "☰";
	display: inline-block;
	width: 1.3em;
	margin-left: 0.3em;
}

.issues {
	padding: 10px 0 10px 0;
	margin: 0;
}
.issues li {
	background: white;
	margin: 0 0 6px 0;
	padding: 8px 12px;
	display: block;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 15px;
	color: black;
}
.avatar {
	border: 1px solid #999;
	padding: 1px;
	height: 24px;
	display: inline-block;
	border-radius: 2px;
	float: right;
	position: relative;
	top: -0.9px;
	right: -14px;
	margin-top: -16px;
	background: white;
}

.labels {
	margin: 4px -10px -4px;
}
.labels li {
	padding: 0 2px;
	display: inline-block;
	margin: 3px 5px 3px 3px;
	white-space: nowrap;
	font-size: 9px;
	border-radius: 2px;
	border-width: 1px;
	border-left-width: 8px;
	font-weight: bold;
	box-shadow: 2px 2px 4px  rgba(0,0,0,.4);
	line-height: 13px;
}
.closed .issue .title {
}
.issues li.ui-sortable-helper {
	box-shadow: 0 5px 15px rgba(0,0,0,.9);
	-webkit-transform: rotate(4deg);
}
.issues li.ui-sortable-placeholder {
	visibility: visible !important;
	background: #999;
	margin-top: -2px;
	margin-bottom: 6px;

}
.num {
	color: #bbb;
}
.title {
}

.addissue {
	border-radius: 3px;
	color: #999;
	margin: 0;
	padding: 10px 14px;
	font-size: 17px;
	display: block;
	background: #eee;
}
