<html>
<meta charset="utf-8">
<head><title></title></head>
<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
<script src="lib/jquery.1.7.0.min.js"></script>
<link rel="stylesheet" href="css/board.css">
<body>

<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" target="_blank" href="https://github.com/brendanheywood/ghello">Ghello</a>
      <ul class="nav">
        <li class="active"><a href="#" id="profile">Profile</a></li>
        <li class=""><a href="#" target="_blank" id="github-profile">Github profile for <span></span> →</a></li>
      </ul>
      <ul class="nav secondary-nav">
        <li><a href="#" id="settings">Options</a></li>
<!--
        <li class="dropdown"><a href="#" class="dropdown-toggle">Settings</a>
          <ul class="dropdown-menu">
            <li><a href="#" id="settings">Options</a></li>
          </ul>
        </li>
-->
      </ul>
<!--
      <p class="pull-right">Logged in as <a id="loggedin" href="#">username</a></p>
-->
    </div>
  </div>
</div>

<div id="loading">
	<div class="alert-message warning"><p><strong>Loading...</strong></p></div>
</div>
<div class="repos">
<h1>Watched repos: <small>Manage this list in <a target="_blank" href="https://github.com/">your github profile</a></small></h1>
</div>


<script src="lib/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="lib/jquery-ui/ui/jquery.ui.widget.js"></script>
<script src="lib/jquery-ui/ui/jquery.ui.mouse.js"></script>
<script src="lib/jquery-ui/ui/jquery.ui.draggable.js"></script>
<script src="lib/jquery-ui/ui/jquery.ui.sortable.js"></script>
<script src="lib/bootstrap/bootstrap-dropdown.js"></script>
<script src="lib/underscore-1.2.1.js"></script>
<script src="lib/backbone-0.5.3.js"></script>
<script src="common.js"></script>

<script type="text/template" id="milestone-template">
<li class='milestone' id='ms<%=  number %>'>
	<h3><a href="board.html?user=<%= user %>&repo=<%= repo %>&milestone=<%= number %>">
		<span class="open" title="Open issues"><%= open_issues %></span>
		<span class="closed" title="Closed issues"><%= closed_issues %></span>
		Milestone <%= number %>: 
		<%= title %>
	</a>
		<small><a target="_blank" href="https://github.com/<%= user %>/<%= repo %>/issues/milestones/<%= number %>/edit">edit</a></small>
	</h3>
	<p><%= description %></p>
</li>
</script>
<script type="text/template" id="repo-template">
<div class='repo' id='repo<%=  id %>'>
	<h2><a href="#"><span>▶</span>
		<span class="open" title="Open issues"><%= open_issues %></span>
		<span class="user"><%= user %></span> / 
		<span class="name"><%= name %></span>
	</a></h2>
	<div>
		<ul class="milestones"></ul>
		<p><%= description %></p>
		<p><a target="_blank" href="<%= html_url %>"><%= html_url %></a></p>
		<p>Open issues: <%= open_issues %></p>
	</div>
</div>
</script>

<script>



var user = localStorage['username'];

$('title').html(user);
$('#github-profile').attr('href', 'https://github.com/'+user);
$('#github-profile span').html(user);
$('#settings').click(function(){

	focusOrCreateTab( chrome.extension.getURL('options.html') );
});


var repos = [];

//var reposPromise = GitHub('/user/repos', null, function(data){
var reposPromise = GitHub('/user/watched', null, function(data){
	repos = repos.concat(data);
});


/*
 * When both the labels and the issues are loaded then render the issues
 */
$.when(reposPromise).then(function(){
	$('#loading').fadeOut('slow');

	var loggedin = false;
	// no settings
	// setting don't work
	// logged in

	if (repos.length == 1){
		loggedin = true;
	} 

	var repoTemplate = _.template( $('#repo-template').html() );
	
	$.each(repos, function(index, repo){
		var user = repo.html_url;
		user = user.replace(/https:\/\/github.com\//, '');
		user = user.replace(/\/.*/, '');
		repo.user = user;
		$('.repos').append( repoTemplate(repo) );
	});
});

var Repo = Backbone.View.extend({
});

var Profile = Backbone.View.extend({
	el: $('body'),
	events: {
		"click .repo h2 a": "showMilestones",
	},
	showMilestones: function(){
		var el = $(event.target).closest('a');
		el.find('span:first').text('▼');
		var user = el.find('.user').text();
		var repo = el.find('.name').text();
		GitHub('/repos/'+user+'/'+repo+'/milestones', null, function(data){
			var ul = el.closest('.repo').find('.milestones');
			
			var milestoneTemplate = _.template( $('#milestone-template').html() );
			$.each(data, function(i, ms){
				ms.user = user;
				ms.repo = repo;
				ul.prepend( milestoneTemplate(ms) );
			});
			ul.append( milestoneTemplate({
				user: user,
				repo: repo,
				open_issues: '',
				closed_issues: '',
				title: 'All issues',
				description: 'All issues across all milestones',
				number: '*'
			}) );
		});

		return false;
	},
});

var profile = new Profile({user: user});

</script>
</body>
</html>
