<html>
<meta charset="utf-8">
<head><title></title></head>
<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
<script src="lib/jquery.1.7.0.min.js"></script>
<!--
<link rel="stylesheet" href="lib/jquery-ui/ui/themes/base/jquery.ui.all.css">
-->
<link rel="stylesheet" href="css/common.css">
<script src="lib/underscore-1.2.1.js"></script>
<script src="lib/backbone-0.5.3.js"></script>
<script src="lib/jquery.autoresize.js"></script>
<body>

<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" target="_blank" href="https://github.com/brendanheywood/ghello"><img height="24" width="24" src="/images/logo-48.png"> Ghello</a>
      <ul class="nav">
        <li class=""><a href="profile.html" id="profile">Profile</a></li>
        <li class="active"><a href="#" target="_blank" id="repo"></a></li>
        <li class="dropdown"><a href="#" id="milestones">Milestones</a><ul class="dropdown-menu"><li>Loading...</li></ul></li>
        <li class=""><a href="#" target="_blank" id="issues">Open issues in Github →</a></li>
      </ul>
      <ul class="nav secondary-nav">
        <li class="loggedin"><a href="#" id="addstack" class="">+ Add a stack</a>
        <li><a href="options.html" id="settings">Options</a></li>
      </ul>
<!--
      <p class="pull-right">Logged in as <a id="loggedin" href="#">username</a></p>
-->
    </div>
  </div>
</div>

<div id="loading">
	<div class="alert-message warning"><p><strong>Loading...</strong></p></div>
</div>
<div class="stacks"></div>

<div id="modal" class="modal fade hide"></div>

<script src="lib/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="lib/jquery-ui/ui/jquery.ui.widget.js"></script>
<script src="lib/jquery-ui/ui/jquery.ui.mouse.js"></script>
<script src="lib/jquery-ui/ui/jquery.ui.draggable.js"></script>
<script src="lib/jquery-ui/ui/jquery.ui.sortable.js"></script>
<script src="lib/bootstrap/bootstrap-dropdown.js"></script>
<script src="lib/bootstrap/bootstrap-modal.js"></script>
<script src="common.js"></script>

<script type="text/template" id="issue-edit-template">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>
			<%= title %>
			<a href='<%= html_url %>' class='num'>#<%= number %></a>
		</h3>
	</div>
	<div class="modal-body">

		<textarea class="markdown"><%= body %></textarea>
		<% if (comments){ %>
			<div class="summary">
				<span class="commentscount"><%= comments %></span>
			</div>
		<% } %>

		<% if (tags){ %>
			<ul class='labels'>
				<% _.each (tags, function(tag){ %><li style='border-color: #<%= tag.color %>'><%= tag.name %></li><% }); %>
			</ul>
		<% } %>
		<% if (assignee){ %>
			<a href='#' class='avatar'><img width=24 height=24 src='<%= assignee.avatar_url %>'></a>
		<% } %>


	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Add comment</a>
		<a href="#" class="btn secondary">Assign...</a>
	</div>
	<script>
		$('.markdown').autoResize({minHeight: 100});
	</script>
</script>
<script type="text/template" id="issue-template">
	<div class="issue" id="<%= id  %>">
	<span class='title'><%= title %></span> <a href='<%= html_url %>' class='num'>#<%= number %></a>
	<% if (comments){ %>
	<div class="summary">
	<span class="commentscount"><%= comments %></span>
	</div>
	<% } %>
	<% if (tags){ %>
		<ul class='labels'>
			<% _.each (tags, function(tag){ %><li style='border-color: #<%= tag.color %>'><%= tag.name %></li><% }); %>
		</ul>
	<% } %>
	<% if (assignee){ %>
		<a href='#' class='avatar'><img width=24 height=24 src='<%= assignee.avatar_url %>'></a>
	<% } %>
	</div>
</script>
<script type="text/template" id="stack-template">
<div class='stack <%= name == 'Closed' ? ' closed' : ''  %>' style='background-color: #<%= color %>' id='stack<%=  id %>'>
	<h2><%= name %></h2>
	<ul class='issues'></ul>
	<a href="" class='loggedin addissue'>Add issue</a>
	<div class="addform" style="display: none;">
		<textarea></textarea>
		<button class="add btn success">Add</button>
		<button class="cancel btn">X</button>
	</div>

</div>
</script>
<script>

var user = $.QueryString['user'];
var repo = $.QueryString['repo'];
var milestone = $.QueryString['milestone'];

$('title').html(user+'/'+repo+' Milestone: '+milestone);
$('#repo').html(user+'/'+repo).attr('href', 'https://github.com/'+user+'/'+repo);
$('#issues').attr('href', 'https://github.com/'+user+'/'+repo+'/issues');

var issues = [];
var labels = [];
var labels2index = {};
var stacks = [];


/*
 * given an issue find out which stack it should be in
 */
function getStack(issue){
	var stack = 0; // default to backlog

	// if issues is closed then it is always last stack
	if (issue.state == "closed"){
		return stacks.length - 1;
	}

	// run through labels, first match exit
	$.each(issue.labels, function(i,v){
		if (labels2index[v.name]){
			stack = labels2index[v.name];
		}
	});

	return stack;	
}

var Issue = Backbone.Model.extend({
	/*
	 * if 0 then remove all stack tags
	 * if last then closes the issue
	 */
	setStack: function(stack_no){
		// set the stack
		// set the labels too

		// this.save({stack: stack_no});
	},
	sync: function(){
		// do nothing for now
	}
});

var IssueView = Backbone.View.extend({
	tagName: 'li',
	template: _.template( $('#issue-template').html() ),
	events: {
		"click .num":             "openIssue",
		"click .issue":           "editIssue",
	},
	initialize: function(el, stack){
		this.model.bind('change', this.render, this);
	},
	openIssue: function(event){
		var issueNum = $(event.target).text().replace('#', '');
		window.open('https://github.com/'+user+'/'+repo+'/issues/'+issueNum);
		return false;
	},
	editIssue: function(){
		var issue = this.model.toJSON();

		var issueEditTemplate = _.template( $('#issue-edit-template').html() );

		var modal = $('#modal');

		var html = issueEditTemplate(issue);
		modal.html(html);
		modal.modal({
			show: true,
			keyboard: true,
			backdrop: true
		});
	},
	editIssueTitle: function(){

		var title = this.model.get('title');
		title = prompt('Title of issue:', title);
		this.model.set('title', title);
/*
		GitHub('PATCH', '/repos/'+user+'/'+repo+'/issues/'+issue.number, {
			title: title,
		}, function(){
			issue$.find('.title').text(title);
		});
*/
	},
	render: function(){
		$(this.el).html(this.template(this.model.toJSON()));
		return this;
	}
});

var Board = Backbone.View.extend({
	el: $('body'),
	initialize: function(){
		var board = this;
		var labelsPromise = GitHub('/repos/'+user+'/'+repo+'/labels', null, function(data){
			labels = data;
			board.drawStacks();
		});
		var milestoneFilter = milestone != '*' ? ('&milestone='+milestone) : '';
		var openIssuesPromise   = GitHub('/repos/'+user+'/'+repo+'/issues?direction=asc&state=open'  +milestoneFilter, null, this.addIssues);
		var closedIssuesPromise = GitHub('/repos/'+user+'/'+repo+'/issues?direction=asc&state=closed'+milestoneFilter, null, this.addIssues);


		/*
		 * When both the labels and the issues are loaded then render the issues
		 */
		$.when(labelsPromise, openIssuesPromise, closedIssuesPromise).then(function(){
			

			var loggedin = true;

			// should only do this is we are logged in (and have permission?)
			if (loggedin){
				/*
				$(".stacks").sortable({
				});
				*/
				$(".issues").sortable({
					connectWith: '.issues',
					stop: function(event, ui){
						var stackId = $(event.target).closest('.stack').attr('id');
						var issueId = $(event.target).closest('.issue').attr('id');
						stackId =  stackId.replace('stack', '');
						var label = stacks[stackId];
						for(var c=0; c<issues.length; c++){
							if (issues[c].id == issueId){ break; }
						}
						var issue = issues[c];

						// find current labels
						var oldLabels = issue.labels;

						// remove all stack labels
						var newLabels = _.filter(oldLabels, function(label){
							var matches = label.name.match(/S\d+\s(.*)/);
							return !matches;
						});

						// prep raw labels for saving
						var labels = _.map(newLabels, function(label){
							return label.name;
						});
						var state = 'open';
						if (label && label.id != 0){
							if (!label.label){
								state = 'closed';
							} else {
								labels.push(label.label);
							}
						}
						GitHub('PATCH', '/repos/'+user+'/'+repo+'/issues/'+issue.number, {
							labels: labels,
							state: state
						});

						// if moving to close then do that ajax
						// if moving to another stack then do that ajax
						var a = event;
					}
				});
			};
		});
	},
	events: {
		"click #addstack":        "addStack",
		"click .addissue":        "showAddIssueForm",
		"click .addform .cancel": "cancelAddIssueForm",
		"click .addform .add":    "addIssue",
	},
	addIssues: function(data){
		issues = issues.concat(data);
		$.each(data, function(index, issue){

			// what stack is it?
			var stack = getStack(issue);

			// draw an issue
			issue.tags = [];
			if (issue.labels){
				$.each(issue.labels, function(i, v){
					var matches = v.name.match(/S\d+\s(.*)/);
					if (!matches){
						issue.tags.push(v);
					}
				});
			}

			var issueModel = new Issue(issue);
			var issueView = new IssueView({model: issueModel});

			$('#stack'+stack+' > ul').append( issueView.render(issue).el );
		});
	},
	addStack: function(){
		alert('Not yet implemented');
		return false;
	},
	showAddIssueForm: function(){
		var stackEl = $(event.target).closest('.stack');
		stackEl.find('.addissue').hide();
		stackEl.find('.addform').show().find('textarea').focus();
		return false;
	},
	cancelAddIssueForm: function(){
		var stackEl = $(event.target).closest('.stack');
		stackEl.find('.addissue').show();
		stackEl.find('.addform').hide().find('textarea').val('');
		return false;
	},
	addIssue: function(){

		var board = this;

		var stackId = $(event.target).closest('.stack').attr('id');
		var stackEl = $(event.target).closest('.stack');

		stackId =  stackId.replace('stack', '');
		var stack = stacks[stackId];

		var newIssue = {};
		newIssue.title = stackEl.find('.addform').hide().find('textarea').val();
		newIssue.state = stack.labelId == -1 ? 'closed' : 'open';
		newIssue.labels = stack.label ? [stack.label] : null;

		stackEl.find('.addform').find('textarea').val('');
		stackEl.find('.addissue').show();

		if (milestone != '*'){
			newIssue.milestone = milestone;
		}
		GitHub('POST', '/repos/'+user+'/'+repo+'/issues', newIssue, function(data){
			board.addIssues([data]);
		});
		return false;
	},
	drawStacks: function(){
		// for each label, make a stack if it starts with 'S\d+\s'
		// also make a stack for no labels and closed

		$('#loading').fadeOut('slow');

		stacks = [];

		// Add the first backlog stack
		stacks.push({
			name: 'Backlog',
			color: 'eeeeee',
			labelId: 0,
			label: null
		});
		labels = labels.sort(function(a,b){
			return a.name < b.name ? -1 : (a.name > b.name ? 1 : 0);
		});
		var labelIndex = 0;
		$.each(labels, function(index, value){
			var label = labels[index];
			var matches = label.name.match(/S\d+\s(.*)/);
			if (!matches){
				return;
			}
			labels2index[label.name] = ++labelIndex;
			stacks.push({
				name: matches[1],
				color: label.color,
				labelId: index,
				label: label.name
			});
		});

		// Add the last closed stack
		stacks.push({
			name: 'Closed',
			color: '888888',
			labelId: -1,
			label: null
		});
		var c;

		var stackTemplate = _.template( $('#stack-template').html() );

		$.each(stacks, function(index, stack){
			stack.id = index;
			var el = stackTemplate(stack);
			$( el ).appendTo('.stacks');
	
		});
	}

});

var board = new Board();


</script>
</body>
</html>
